body{
    background-color: bisque;
}
.container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.photo{
    border: 1px solid white; 
    background-color: white;
    padding:;
    align-items: center;
}
.skills{
    column-rule: 2px;
}
#about{
    text-align: center;
}
